{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center" style="height: 100vh;">
        <form onsubmit="event.preventDefault(); login();"
            class="col-sm-12 col-md-5 rounded-3 p-3 bg-light border mx-auto">
            <h1 class="text-center mb-4">Login</h1>
            <label class="mb-2 fw-bold" for="username">Name :</label><br>
            <input class="form-control" placeholder="Username" type="text" id="username" autocomplete="username"
                required><br><br>
            <label class="mb-2 fw-bold" for="password">Password :</label><br>
            <input class="form-control" placeholder="Password" type="password" id="password"
                autocomplete="current-password" required><br><br>
            <button class="btn btn-primary" type="submit">Login</button>
            <br><br>
            <p>I dont have an Account <a href="{% url 'register' %}">Register</a></p>
        </form>
    </div>
</div>

{% endblock %}
{% block script %}
<script>
    // Redirect when alredy logged-in
    if (localStorage.getItem('token') && localStorage.getItem('refresh')) {
        authenticate();  
    }

    function login() {

        const userName = document.getElementById('username').value;
        const pwd = document.getElementById('password').value;

        fetch("/api/token/", {
            'method': 'POST',
            'headers': {
                'Content-Type': 'application/json'
            },
            'body': JSON.stringify({
                username: userName,
                password: pwd
            })

        }).then(response => {
            if (!response.ok) {
                throw new Error('Username or Password is Incorrect');
            }
            return response.json();
        })
            .then(data => {
                // console.log(data);
                localStorage.setItem('token', data.access);
                localStorage.setItem('refresh', data.refresh);
                window.location.href = '/users/';
            }).catch(err => {
                appendAlert(err.message, 'danger');
            });
    }
</script>
{% endblock %}

</html>