{% extends 'base.html' %}
{% load static %}
{% block title %}Register{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center" style="height: 100vh;">
        <form id="registerForm" class="col-sm-12 col-md-5 rounded-3 p-3 bg-light border mx-auto">
            <h1 class="text-center mb-4">Register</h1>
            <label class="mb-2 fw-bold" for="username">Username :</label><br>
            <input class="form-control" placeholder="Username" maxlength="14" type="text" id="username"
                autocomplete="username" required>
            <div id="username-error" aria-live="polite"></div>
            <br>
            <label class="mb-2 fw-bold" for="email">Email :</label><br>
            <input class="form-control" placeholder="Email" type="email" id="email" autocomplete="email" required>
            <div id="email-error" aria-live="polite"></div>
            <br>
            <label class="mb-2 fw-bold" for="password1">Password :</label><br>
            <input class="form-control" placeholder="Password" type="password" id="password1"
                autocomplete="new-password" required>
            <br>
            <label class="mb-2 fw-bold" for="password2">Confirm Password :</label><br>
            <input class="form-control" placeholder="Password" type="password" id="password2"
                autocomplete="new-password" required>
            <div id="password-error" aria-live="polite"></div>
            <br>
            <button class="btn btn-primary" type="submit">Register</button>
            <br><br>
            <p>Alredy have an account? <a href="{% url 'login' %}">Login</a></p>
        </form>
    </div>
</div>

{% endblock %}
{% block script %}
<script src="{% static 'js/register.js' %}"></script>
{% endblock %}
